{% extends 'base.html' %}

{% block head %}
<title>Home Page</title>
{% endblock %}

{% block body %}
<br>
    <div>
      <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
          <h1>Welcome</h1>
          <p>Welcome to the Official NMN Blog! Here we'll be talking about everything computer science. Basics, frameworks, machine learning, other data science stuff, any new tech or findings, and pretty much anything computer science related.</p>
          <p>Go visit me at my <a href="https://officialnmn.github.io/MyPortfolio/">Website</a> to check out more cool projects beyond just blogs</p>
          <p>
            <a class="btn btn-primary" href="/posts" role="button">View Blog Posts &raquo;</a>
          </p>
        </div>
      </div>
    </div>
{% endblock %}